---
import Layout from "../layouts/Layout.astro";
import Title from "../components/Title";
import Carousel from "../components/Carousel.astro";

const carouselPages = [
	{
		name: "Default",
		image: "../assets/gallery/default.png",
		title: "Default",
	},
	{ name: "Sepia", image: "../assets/gallery/sepia.png", title: "Sepia" },
	{ name: "Redeye", image: "../assets/gallery/redeye.png", title: "Redeye" },
];
---

<Layout title="NightPDF dark mode for PDFs">
	<main>
		<div class="title text-center justify-normal">
			<Title client:load />
		</div>
		<Carousel pages={carouselPages} />
	</main>
</Layout>

<style>
	.title {
		margin-top: 5%;
		margin-bottom: 2%;
	}
</style>
